
/*class for the filterInput*/
.filterInput
{
    /*size & positioning*/
    width: 38.4%;
    padding-left: 0;
    margin-left: 10.8%;
	
    /*misc*/
	font-size: small;
    
    border: 3px solid #EBE6E2; 
    border-radius: 5px; 
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -ms-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
}

 .filterInput:focus { 
border-color: #BBB; 
outline: none; 
} 
