/*style for the play bar*/
#playBar
{   
    /*background*/
    background-color: rgba(5, 5, 5, 0.21);
    
    /*border*/
    border-style: ridge;
    border-color: rgba(0, 0, 0, 0.53);
    border-width: 1.5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	
    /*misc*/
    direction: ltr;
}

.playBarUser
{
    /*positioning*/
    /*margin-bottom: 60px;*/
    margin-top: 20px;
    margin-left: 1%;
    padding-bottom: 0px;
	height: 10%;
    width: 38%;
}

.playBar {
    /*positioning*/
    /*margin-bottom: 60px;*/
    margin-top: 20px;
    padding-bottom: 0px;
    height: 10%;
    width: 60%;
}

/*class for the buttons*/
.buttonImg
{
	padding-left: 2%;
    float: left;
	height: 63%;
	padding-top: 0.5%;	
}

.buttonUser
{
    display: none;
}